<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>

<body>
    <div class="head">
        <h1><a href="/">take a hike</a></h1>
        <div class="login-signup"></div>
        <% if (userId) {%>
            <div class="user-info">
                <p>Signed in as <%= user.username %>
                </p>
                <form action="/logout" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <button>logout</button>
                </form>
                <div class="links">
                    <a href="/likes">saved trails</a>
                    |
                    <a href="/hikes/new">share a trail</a>
                    |
                    <a href="/">home</a>
                </div>
            </div>
            <% } else { %>
                <a href="/login">login or sign up</a>
                <% } %>
        </div>
    </div>

    <%- body %>
        <footer>&copy; 2023</footer>
</body>

</html>