* {
    box-sizing: border-box;
}

body {
    background-color: lavenderblush;
}

img {
    width: 200px;
}

a {
    text-decoration: none;
    
}
/* a:visited{
    color: cornflowerblue;
} */



.ui-card * {
    /* border: 1px solid red; */
    background-color: lavender;
    
}

.ui-card {
    /* border: 1px solid red; */
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

.ui-card img {
    width: 100%;
    display: block;
}
.ui-card>h2 {
    display: flex;
    justify-content: space-between;

}

.ui-card>footer {
    display: flex;
    justify-content: space-between;

}

.content {
    padding: 10px;
}

@media (min-width: 40rem) {
    .all-hikes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
    }
}
@media (min-width: 60rem) {
    .all-hikes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 10px;
    }
}