* {
    box-sizing: border-box;
}

body {
    background-color: white;
}

img {
    width: 200px;
}

a {
    text-decoration: none;
    color: #46494c;

}

a:visited {
    color: #46494c;
}

.head {
    text-align: center;
}

h1 {
    display: inline-block;
}

.login-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.login-signup-form {
    color: #46494c;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.login-signup-form h2 {
    display: inline-block;
    color: #46494c;
}
.login-signup button {
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #888;
    padding: 5px 10px;
    text-decoration: none;
}
.login-signup button:hover {
    background-color: #ddd;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.user-info button {
    margin-top: 10px;
    margin-bottom: 20px;
}

.user-info a {
    margin: 0 5px 10px 5px;
}

.ui-card * {

    background-color: #e9ecef;

}

.ui-card {

    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

.ui-card img {
    width: 100%;
    display: block;
}

.ui-card>h2 {
    display: flex;
    justify-content: space-between;

}

.ui-card>footer {
    display: flex;
    justify-content: space-between;

}

.content {
    padding: 10px;
}

.delete-button {
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #888;
    padding: 5px 10px;
    text-decoration: none;
}

.delete-button:hover {
    background-color: #ddd;
}

.edit-link {
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #888;
    padding: 5px 10px;
    text-decoration: none;
}

.edit-link:hover {
    background-color: #ddd;
}


@media (min-width: 40rem) {
    .all-hikes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
    }
}

@media (min-width: 60rem) {
    .all-hikes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 10px;
    }
}